.contact{
	background: #9E9E9E;
	padding:24px;
}
.contact_top{
	h4{
		font-size: 22px;
		font-weight: bold;

	}
}
.contact_top_boxs{
	display:flex;
	margin-top:35px;
	padding-bottom: 50px;
	border-bottom:1px solid #cecece;

	.contact_box{
		flex-grow:1;
		text-align: center;
		font-size: 18px;
		background: #616161;
		padding:12px 0px;
		display: block;
		color:#fff;
	}
	#dfrnt_color{
		background:#009688 !important;
	}

}

form{
	margin-top: 20px;
}
.contact_form input{
	width:100%;
	padding:10px;
	margin-bottom: 20px;
	
	
	&:focus{
		border:2px solid skyblue;
	}

}
.submit_btn{

	button{
		background: #000;
		color:#fff;
		padding:8px 26px;
		border:none;
		cursor: pointer;
		font-size:16px;

		&:focus{
			border:1px dashed black;
		}

		&:hover{
			background: #CCCCCC;
			color:#000;
		}
	}

}