
@font-face{
	src:url('fonts/railway/Raleway-Bold.ttf');
	font-family: 'Raleway-Bold';
}
@font-face{
	src:url('fonts/railway/Raleway-SemiBold.ttf');
	font-family: 'Raleway-SemiBold';
}
@font-face{
	src:url('fonts/railway/Raleway-Light.ttf');
	font-family: 'Raleway-Light';
}
@font-face{
	src:url('fonts/railway/Raleway-Regular.ttf');
	font-family: 'Raleway-Regular';
}
